<html>
    <head>
        <!-- WEATHER DATA CATCH FROM SOURCE:${SOURCE} -->
        <title>tqyb1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <!-- Save for Web Slices (tqyb1.psd) -->
        <table id="__01" width="670" height="540" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <img src="../image/tqyb_01.jpg" width="670" height="137" alt=""></td>
            </tr>
            <tr>
                <td background="../image/tqyb_02.jpg" width="670" height="227" border="0">
                    <table width="670" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="34" height="180" rowspan="4"></td>
                            <td width="140" height="72" rowspan="2" align="center" valign="middle">
                                <font size="10"color="3e85e6">大庆</font></td>
                            <td width="161" height="36" align="center" valign="middle">
                                <font size="4">最高 ${MAXTEM0}</font></td>
                            <td width="15" height="180" rowspan="4"></td>
                            <td colspan="4" rowspan="5"><img src="../image/tqybgg.jpg" width="277" height="190"></td>
                            <td width="43" height="180" rowspan="4"></td>
                        </tr>
                        <tr>
                            <td height="36" align="center" valign="middle">
                                <font size="4">最低 ${MINTEM0}</font></td>
                        </tr>
                        <tr>
                            <td width="140" height="108" rowspan="2" align="center" valign="middle">
                                <img src="${LAPIC0}" width="70" height="65"></td>
                            <td width="161" height="36" align="center" valign="middle">
                                <font size="4">${WEATHER0}</font></td>
                        </tr>
                        <tr>
                            <td width="161" height="72" align="center" valign="top">
                                <p><font size="4">${WIND0}</font></p></td>
                        </tr>
                        <tr>
                            <td width="34" height="10"></td>
                            <td width="140" height="10"></td>
                            <td width="161" height="10"></td>
                            <td width="15" height="10"></td>
                            <td width="43" height="10"></td>
                            <tr>
                                <td width="34" height="37"></td>
                                <td width="140" height="37" align="right" valign="middle">${LONGDAY0}</td>
                                <td width="161" height="37" align="center" valign="middle"></td>
                                <td width="15" height="37"></td>
                                <td width="65" height="37"></td>
                                <td width="92" height="37" align="center" valign="middle"></td>
                                <td width="99" height="37" align="center" valign="middle"></td>
                                <td width="21" height="37"></td>
                                <td width="43" height="37"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td background="../image/tqyb_03.jpg" width="670" height="90" border="0">
                        <table width="670" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="48" height="14"></td>
                                <td width="86" height="14"></td>
                                <td width="80" height="14"></td>
                                <td width="42" height="14"></td>
                                <td width="86" height="14"></td>
                                <td width="80" height="14"></td>
                                <td width="45" height="14"></td>
                                <td width="86" height="14"></td>
                                <td width="79" height="14"></td>
                                <td width="38" height="14"></td>
                            </tr>
                            <tr>
                                <td width="48" height="38"></td>
                                <td width="86" rowspan="2" align="center" valign="middle">
                                <img src=${PIC0} width="49" height="49"></td>
                                <td width="80" height="38" align="center" valign="middle">${DAY0}</td>
                                <td width="42" height="38"></td>
                                <td width="86" rowspan="2" align="center" valign="middle">
                                    <img src=${PIC1} width="49" height="49"></td>
                                <td width="80" height="38" align="center" valign="middle">${DAY1}</td>
                                <td width="45" height="38"></td>
                                <td width="86" rowspan="2" align="center" valign="middle">
                                    <img src=${PIC2} width="49" height="49"></td>
                                <td width="79" height="38" align="center" valign="middle">${DAY2}</td>
                                <td width="38" height="38"></td>
                            </tr>
                            <tr>
                                <td width="48" height="11"></td>
                                <td width="80" height="11"></td>
                                <td width="42" height="11"></td>
                                <td width="80" height="11"></td>
                                <td width="45" height="11"></td>
                                <td width="79" height="11"></td>
                                <td width="38" height="11"></td>
                            </tr>
                            <tr>
                                <td width="48" height="27"></td>
                                <td height="27" colspan="2" align="center" valign="middle">-23℃至-16℃</td>
                                <td width="42" height="27"></td>
                                <td height="27" colspan="2" align="center" valign="middle">-20℃至-10℃</td>
                                <td width="45" height="27"></td>
                                <td height="27" colspan="2" align="center" valign="middle">-21℃至-10℃</td>
                                <td width="38" height="27"></td>
                            </tr>
                    </table></td>
                </tr>
                <tr>
                    <td background="../image/tqyb_04.jpg" width="670" height="86"><table width="670" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="670" height="43" align="center" valign="bottom">按【退出】键返回到【菜单】</td>
                            </tr>
                            <tr>
                                <td width="670" height="43"></td>
                            </tr>
                    </table></td>
                </tr>
            </table>
            <!-- End Save for Web Slices -->
        </body>
    </html>
